<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>ARTIST NUMBER: {{artist.id}}</h2>
    <h3>ARTIST NAME: {{artist.artist_name}}</h3>   
    <h3> ARTIST BIO: {{artist.artist_bio}}</h3>
    <h3>CREATED: {{artist.created_at}}</h3>

    <a href="{% url 'music_app:editArtist' artist_id=artist.id %}">Edit</a> |
    <a href="{% url 'music_app:deleteArtist' artist_id=artist.id %}">Delete</a> |
    <a href="{% url 'music_app:index' %}">Home</a> |
    <a href="{% url 'music_app:addAlbum' artist_id=artist.id %}">Add Album</a> |
<br>


      
<table >
  <tr>
    <th>id </th>
    <th>ALBUM NAME </th>  
    <th>YEAR</th>
    <th>ACTIONS</th>
  </tr>
    {% for album in albums %}
    <tr>
    <td>{{album.id}}</td>
    <td>{{album.album_name}}</td>
    <td>{{album.album_year}}</td>
    <td><a href="{% url 'music_app:viewAlbum' album_id=album.id %}">Show Album</a> |
        <a href="{% url 'music_app:updateAlbum' album_id=album.id %}">Edit Album</a> | 
        <a href="{% url 'music_app:deleteAlbum' album_id=album.id artist_id=artist.id %}">Delete Album</a> | 
        <a href="{% url 'music_app:viewSong' album_id=album.id artist_id=artist.id %}">Add Song</a></td>
    </tr>
    {% endfor %}
</table>

</body>
</html>