<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewport' content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'music_app/css/styles.css' %}" media="screen" title="session words" charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>ALL ARTIST</h1>
   
<table >
  <tr>
    <th>id </th>
    <th>ARTIST NAME </th> 
    <th>ARTIST BIO </th> 
    <th>CREATED AT </th>
    <th>ACTIONS </th>
  </tr>
    {% for artist in artists %}
    <tr>
    <td>{{artist.id}}</td>
    <td>{{artist.artist_name}}</td>
    <td>{{artist.artist_bio}}</td>
    <td>{{artist.created_at}}</td>
    <td><a href="{% url 'music_app:viewArtist' artist_id=artist.id %}">Show</a> | <a href="{% url 'music_app:editArtist' artist_id=artist.id %}">Edit</a> | <a href="{% url 'music_app:deleteArtist' artist_id=artist.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
   <a href="{% url 'music_app:addArtist' %}">ADD A NEW ARTIST</a>


</body>
</html>