* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

.container {
    background-color: black;
    background-image: url("{% static 'user_app/record.png' %}")
}

.main {
    display: none; 
}

.jumbotron {
    margin-top: 20px;
    border: 2px solid black;
    color: white;
    background-color: black;
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(white));
    background-image: -webkit-linear-gradient(top, black, white);
    background-image: -moz-linear-gradient(top, black, white);
    background-image: linear-gradient(to bottom, black, white); */
}
.box {
    /* border: 2px solid black; */
    overflow: scroll;
    bottom: 40px;
}

.action_button {
    float: right;
    font-size: 1.4em;
    width: 10%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(white));
    background-image: -webkit-linear-gradient(top, black, white);
    background-image: -moz-linear-gradient(top, black, white);
    background-image: linear-gradient(to bottom, black, white); */
}

.header {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 12px;
    font-size: 24px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(darkgray), to(white));
    background-image: -webkit-linear-gradient(top, darkgray, white);
    background-image: -moz-linear-gradient(top, darkgray, white);
    background-image: linear-gradient(to bottom, darkgray, white);
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 1.2em;
    bottom: 0%;
    width: 100%;
}

.center {
    text-align: center;
}
